html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #eae0d5;
}


.cropped-image {
    object-fit: cover; /* Crop the image */
    height: 150px; /* Set the desired height */
    width: 100%; /* Ensure the image takes the full width of the card */
}
.card {
    transition: box-shadow 0.5s;
}

    .card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 2.5);
    }
    }