@using Core.Domain;
@model Portal.Models.EmployeeViewModel;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EcoPlates</title>
</head>
<body>
    <div>
        <div>
            Dit is de website van EcoPlates.<br />
            (To do: sell it better. Add pictures or something.)
        </div>
        <form asp-action="EmployeeRegister" method="post" class="m-2">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name">Your name:</label>
                <input asp-for="Name" />
            </div>
            <div>
                <label asp-for="EmployeeNumber">Your studentNumber:</label>
                <input asp-for="EmployeeNumber" />
            </div>
            <div>
                <label asp-for="EmailAddress">Your email:</label>
                <input asp-for="EmailAddress" />
            </div>
            @* <div>
                <select asp-for="Canteen.Id">
                    <option value="">Select a canteen</option>
                    @foreach (var canteen in Model.Canteen)
                    {
                        <option value="@canteen.Id">@canteen.Name</option>
                    }
                </select>
            </div> *@
            <div>
                <label asp-for="Password">Your password:</label>
                <input asp-for="Password"/>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Register</button>
        </form>
    </div>
</body>
</html>
