@using Core.Domain;
@model Portal.Models.EmployeeViewModel;
@ViewBag Canteens
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EcoPlates</title>
</head>
<body>
    <div>
        <div>
            Dit is de website van EcoPlates.<br />
            (To do: sell it better. Add pictures or something.)
        </div>
        <form asp-action="EmployeeRegister" method="post" class="m-2">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name">Your name:</label>
                <input asp-for="Name" />
            </div>
            <div>
                <label asp-for="EmployeeNumber">Your employerNumber:</label>
                <input asp-for="EmployeeNumber" />
            </div>
            <div>
                <label asp-for="Email">Your email:</label>
                <input asp-for="Email" />
            </div>
            <div>
                @foreach(var canteen in ViewBag.Canteens){
                
                   <p> @canteen.Id</p>
                    <p> @canteen.LocationName</p>
                }
                <select class="form-control" asp-for="SelectedCanteenId">
                    <option value="">Select a canteen</option>
                    @if (ViewBag.Canteens != null)
                    {
                        foreach (var canteen in ViewBag.Canteens)
                        {
                            <option value="@canteen.Id">@canteen.LocationName</option>
                        }
                    }
                </select>
            </div>
            <div>
                <label asp-for="Password">Your password:</label>
                <input asp-for="Password"/>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Register</button>
        </form>
    </div>
</body>
</html>


