@using Core.Domain;
@model Portal.Models.StudentViewModel;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EcoPlates</title>
</head>
<body>
    <div>
        <div>
            Dit is de website van EcoPlates.<br />
            (To do: sell it better. Add pictures or something.)
        </div>
        <form asp-action="Register" method="post" class="m-2">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name">Your name:</label>
                <input asp-for="Name" />
            </div>
            <div>
                <label asp-for="StudentNumber">Your studentNumber:</label>
                <input asp-for="StudentNumber" />
            </div>
            <div>
                <label asp-for="EmailAddress">Your email:</label>
                <input asp-for="EmailAddress" />
            </div>
            <div>
                <label asp-for="PhoneNumber">Your phone number:</label>
                <input asp-for="PhoneNumber" />
            </div>
            <div>
                <label asp-for="BirthDate">Your birthDate:</label>
                <input asp-for="BirthDate" type="date" />
            </div>
            <div>
                <label asp-for="StudyCity">Your city where you are studying:</label>
                <select asp-for="StudyCity" asp-items="Html.GetEnumSelectList<City>()">
                    <option value="">Select a city</option>
                </select>
            </div>
            <div>
                <label asp-for="Password">Your password:</label>
                <input asp-for="Password" />
            </div>
            <button type="submit" class="btn btn-primary mt-3">Register</button>
        </form>
    </div>
</body>
</html>
