@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Main scherm

        <button asp-action="submit" asp-controller="Package" action="PackageList">pakketten bekijken</button>
        <a class="btn btn-primary" asp-controller="Package" asp-action="PackageList">link pakketten lijst</a>
    </div>
</body>
</html>
