@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        index vanaf homecontroller
        klik om om in te loggen <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Rsvp Now</a>
    </div>
</body>
</html>